# Terraform State
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
tf.plan

# Variables & Secrets
*.tfvars
*.tfvars.json
*.key
*.pem
keys/
scripts/.state/

# Local Logs
*.log

# AI Assistant Files
.codex
