region                  = "us-ashburn-1"
tenancy_ocid            = "ocid1.tenancy.oc1..replace_me"
compartment_id          = "ocid1.compartment.oc1..replace_me"
user_ocid                 = "ocid1.user.oc1..replace_me"
fingerprint             = "aa:bb:cc:dd:ee:ff:00:11:22:33:44:55:66:77:88:99"
private_key_path        = "~/.oci/oci_api_key.pem"
duck_domain             = "example.duckdns.org"
duck_token              = "replace_me"
# generated with docker run ghcr.io/wg-easy/wg-easy:14 wgpw PASSWORD_UNHASHED
wg_admin_password_hash  = "$2a$12$replace_me"
