region                    = "us-ashburn-1"
tenancy_ocid              = "ocid1.tenancy.oc1..replace_me"
compartment_id            = "ocid1.compartment.oc1..replace_me"
user_ocid                 = "ocid1.user.oc1..replace_me"
fingerprint               = "aa:bb:cc:dd:ee:ff:00:11:22:33:44:55:66:77:88:99"
private_key_path          = "~/.oci/oci_api_key.pem"
ssh_authorized_keys_path  = "~/.ssh/id_ed25519.pub"
duck_domain               = "example.duckdns.org"
duckdns_token_secret_ocid = "ocid1.vaultsecret.oc1..replace_me"
wg_admin_password_hash_base64_secret_ocid = "ocid1.vaultsecret.oc1..replace_me"
ssh_host_private_key_secret_ocid   = "ocid1.vaultsecret.oc1..replace_me"
ssh_host_public_key_secret_ocid    = "ocid1.vaultsecret.oc1..replace_me"
